

<footer class="footer bg-dark text-white bottom">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 mb-4 mb-lg-0" data-aos="fade-right" data-aos-duration="2000" data-aos-delay="500">
        <h5
          class="text-loadcase"
          style="color: #00ffff; 0 0 10px #808080"
        >
          About Us
        </h5>
        <p class="text">
          At Gadget Zone, we're passionate about bringing you the latest and
          greatest gadgets and technology products. From smartphones to smart
          home devices, drones to wearables, we've got you covered.
        </p>
      </div>
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0"  data-aos="fade-down" data-aos-duration="2000" data-aos-delay="500">
        <h5
          class="text1"
          style="color: #00ffff; 0 0 10px #00ffff "
        >
          Quick Links
        </h5>
        <ul class="list-unstyled mb-0">
          <li>
            <a href="#" style="color: #808080"
              ><i class=></i> Home</a
            >
          </li>
          <li>
            <a href="#" style="color: #808080"
              ><i class=></i>Help&Support</a
            >
          </li>
          <li>
            <a href="#" style="color: #808080"
              ><i class=></i>F&Q</a
            >
          </li>
          <li>
            <a href="#" style="color: #808080"
              ><i class=></i>24/7 Custemer Care</a
            >
          </li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0"  data-aos="fade-left" data-aos-duration="2000" data-aos-delay="500">
        <h5
          class="text3"
          style="color: #00ffff; 0 0 10px #00ffff"
        >
          Contact Us
        </h5>
        <p class="text-muted" >
          329,Gadget Store,Meenachi Street,Madurai,625017<br>Email: gatgetstore@gmail.com<br>Phone: +91 8428351029
        </p>
      </div>
    </div>
  </div>
  <div class="py-20 bg-dark">
    <div class="container text-center">
      <p class="text-muted mb-0">© 2024 gadget store created by benat.</p>
    </div>
  </div>
</footer>
